.bg-gray-dark { background-color: var(--bs-gray-dark); }
.text-gray-dark { color: var(--bs-gray-dark); }

.bg-gray-100 { background-color: var(--bs-gray-100); }
.text-gray-100 { color: var(--bs-gray-100); }

.bg-gray-200 { background-color: var(--bs-gray-200); }
.text-gray-200 { color: var(--bs-gray-200); }

.bg-gray-300 { background-color: var(--bs-gray-300); }
.text-gray-300 { color: var(--bs-gray-300); }

.bg-gray-400 { background-color: var(--bs-gray-400); }
.text-gray-400 { color: var(--bs-gray-400); }

.bg-gray-500 { background-color: var(--bs-gray-500); }
.text-gray-500 { color: var(--bs-gray-500); }

.bg-gray-600 { background-color: var(--bs-gray-600); }
.text-gray-600 { color: var(--bs-gray-600); }

.bg-gray-700 { background-color: var(--bs-gray-700); }
.text-gray-700 { color: var(--bs-gray-700); }

.bg-gray-800 { background-color: var(--bs-gray-800); }
.text-gray-800 { color: var(--bs-gray-800); }

.bg-gray-900 { background-color: var(--bs-gray-900); }
.text-gray-900 { color: var(--bs-gray-900); }

.bg-blue { background-color: var(--bs-blue); }
.text-blue { color: var(--bs-blue); }

.bg-indigo { background-color: var(--bs-indigo); }
.text-indigo { color: var(--bs-indigo); }

.bg-purple { background-color: var(--bs-purple); }
.text-purple { color: var(--bs-purple); }

.bg-pink { background-color: var(--bs-pink); }
.text-pink { color: var(--bs-pink); }

.bg-red { background-color: var(--bs-red); }
.text-red { color: var(--bs-red); }

.bg-orange { background-color: var(--bs-orange); }
.text-orange { color: var(--bs-orange); }

.bg-yellow { background-color: var(--bs-yellow); }
.text-yellow { color: var(--bs-yellow); }

.bg-green { background-color: var(--bs-green); }
.text-green { color: var(--bs-green); }

.bg-teal { background-color: var(--bs-teal); }
.text-teal { color: var(--bs-teal); }

.bg-cyan { background-color: var(--bs-cyan); }
.text-cyan { color: var(--bs-cyan); }

.bg-black { background-color: var(--bs-black); }
.text-black { color: var(--bs-black); }

.bg-white { background-color: var(--bs-white); }
.text-white { color: var(--bs-white); }
