<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <title>WordChain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/colors.css">
</head>

<body class="bg-gray-600 h-100 d-flex flex-column">
    <nav class="navbar bg-success p-1">
        <a class="navbar-brand ps-3 p-2">
            <h2 class="p-0 m-0 text-gray-300">WordChain</h2>
        </a>
        <div class="d-flex px-3 align-items-center">
            <div class="px-3">
                <h3 class="p-0 m-0 text-gray-300">Vecky</h3>
            </div>
            <div>
                <h5 class="p-0 m-0 text-gray-300">#06ba7c8</h4>
            </div>
        </div>
    </nav>

    <div class="container-xxl p-3 d-flex flex-column justify-content-evenly h-100 gap-3">
        <div class="container-xxl bg-gray-500 p-0 m-0 rounded-4 d-flex flex-column">
            <div class="p-3 flex-fill">
                The objective of the game is to form a chain of words where each word starts with the last letter of the
                previous word.
            </div>
        </div>
        <div class="container-xxl bg-gray-500 p-3 m-0 rounded-4 flex-grow-1 overflow-scroll">
            <ul class="list-group list-group-flush">
                <li class="px-0 py-1 list-group-item bg-transparent border-bottom border-success d-flex">
                    <div class="w-100 d-flex">
                        <div class="w-25 flex-fill fw-bold">Game 1</div>
                        <div class="w-25 flex-fill">Lobby</div>
                        <div class="w-25 flex-fill">1/5</div>
                        <button type="button" class="btn btn-success btn-sm">Join</button>
                    </div>
                </li>
                <li class="px-0 py-1 list-group-item bg-transparent border-bottom border-success d-flex">
                    <div class="w-100 d-flex">
                        <div class="w-25 flex-fill fw-bold">Game 2</div>
                        <div class="w-25 flex-fill">In progress</div>
                        <div class="w-25 flex-fill">5/5</div>
                        <button type="button" class="btn btn-success btn-sm">Join</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-xxl bg-gray-500 p-0 m-0 rounded-4 flex-grow-1 d-flex flex-column overflow-scroll">
            <div class="p-3 flex-grow-1">
                <ul class="list-group list-group-flush">
                    <li class="px-0 py-1 list-group-item bg-transparent border-success">
                        <div class="w-100 d-flex">
                            <div class="pe-2 fw-bold">Vecky</div>
                            <div class="flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </li>
                    <li class="px-0 py-1 list-group-item bg-transparent border-success">
                        <div class="w-100 d-flex">
                            <div class="pe-2 fw-bold">Jordan</div>
                            <div class="flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    </li>
                    <li class="px-0 py-1 list-group-item bg-transparent border-success">
                        <div class="w-100 d-flex">
                            <div class="pe-2 fw-bold">Bobba</div>
                            <div class="flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    </li>
                </ul>
            </div>
            <form>
                <div class="p-2">
                    <input type="text" class="form-control rounded-3 bg-gray-300 border-success border-2"
                        placeholder="Write here...">
                </div>
            </form>
        </div>
</body>

</html>